.active 
{
    color: black !important ;
    font-weight: bold !important;
    
}

.title
{
    letter-spacing: 0.02em;
    text-transform: none;
    font-size: 1.1em;
}

.bold
{
    font-weight: bold;
}

.btn
{
    outline: none !important;   
}

.white:hover
{
    color: white !important;
}

.pull-left
{
    float: left;
}

.hidden-xs 
{
    color: white;
}

.white-box 
{
    padding-bottom: 1px;
}
a 
{
    color: #686868 !important;
}

a:hover 
{
    color: black !important;
}

.date
{
    text-align: right;
}

.link
{
    color: white !important;
    margin: 20px 20px 20px 0;
}

textarea
{
    resize: vertical;
}

.errors
{
    color: red;
    font-weight: bold;
}